{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Technical test project</h1>

    <p>Welcome! This project is REST API to perform simple CRUD operations</p>
    <p>Go <a href="{{ url('api_doc', {'_format': 'html'})}}">here</a> to see the API documentation.</p>
    <p>Created with:<br/>
        <ul>
            <li><a href="https://symfony.com/">Symfony 7.3</a></li>
            <li><a href="https://api-platform.com">API Platform 4.1</a></li>
        </ul>
    </p>
{% endblock %}
