{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'warning', 'info', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/user/arbell-php-test/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/home/user/arbell-php-test/templates/home/index.html.twig</code></li>
    </ul>
{% endblock %}
