{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Update {{ user.userIdentifier }}'s password</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update password'}) }}

    <a href="{{ path('app_user_index') }}">Back to list</a>
{% endblock %}
